<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705082894199-knpsm8iase7hk42q9pl5jcsvvlnk38jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705082894199-knpsm8iase7hk42q9pl5jcsvvlnk38jh</string>
	<key>API_KEY</key>
	<string>AIzaSyCrEOBR2mujt7ly-WbVKVhQ5KRvH9IVVEw</string>
	<key>GCM_SENDER_ID</key>
	<string>705082894199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>egorMaximov.Chst</string>
	<key>PROJECT_ID</key>
	<string>messenger-8389c</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-8389c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705082894199:ios:f89fdb620f65a282f72372</string>
</dict>
</plist>